@import 'variables';
.environment-container {
  width: 100%;
  background-color: $white-200;
}

.size-container {
  background-color: $white-200;
  width: 100%;
}

.volume-container {
  width: 100%;
}

input {
  &[readonly] {
    background-color: #f0f0f0;
  }
}

.select-image {
  margin: 0 5px;
}
