<aui-card>
  <div auiCardHeader>
    <ul class="alo-steps">
      <li class="alo-steps__step alo-steps__step--active">
        <span
          class="alo-steps__icon"
          [class.alo-steps__icon--active]="step === 'bindAccount'"
          [class.alo-steps__icon--complete]="step === 'assignProject'"
        >
          <span *ngIf="step === 'bindAccount'">1</span>
          <aui-icon icon="check_s" *ngIf="step === 'assignProject'"></aui-icon>
        </span>
        <span>{{ 'project_management.bind_account' | translate }}</span>
      </li>
      <li class="alo-steps__step">
        <span
          class="alo-steps__icon"
          [class.alo-steps__icon--active]="step === 'assignProject'"
        >
          <span>2</span>
        </span>
        <span>{{ 'project_management.assign_project' | translate }}</span>
      </li>
    </ul>
  </div>

  <alo-project-management-binding-account-form
    #step1
    [hidden]="step !== 'bindAccount'"
    [service]="service"
    [namespace]="namespace"
    (statusChange)="loading = $event"
    (bound)="accountBound($event)"
  ></alo-project-management-binding-account-form>

  <alo-project-assign
    #step2
    [hidden]="step !== 'assignProject'"
    [namespace]="namespace"
    [binding]="binding"
  ></alo-project-assign>

  <div auiCardFooter class="actions">
    <button
      aui-button="primary"
      *ngIf="step === 'bindAccount'"
      (click)="step1.submit()"
    >
      {{ 'project_management.bind_account' | translate }}
    </button>
    <button
      *ngIf="step === 'assignProject'"
      aui-button="primary"
      (click)="step2.submit()"
    >
      {{ 'project_management.complete_binding' | translate }}
    </button>
    <button
      aui-button
      (click)="cancel()"
    >
      {{ 'cancel' | translate }}
    </button>
  </div>
</aui-card>
