<aui-inline-alert type="error" *ngIf="model.ownerReferences.length">
  <span>{{ 'secret.used_with_codebinding' | translate }}</span>
</aui-inline-alert>
<form
  auiForm
  auiFormLabelWidth="120px"
  [auiFormEmptyAddon]="true"
  (ngSubmit)="save()"
  #form="ngForm"
  novalidate
>
  <div class="form-group-header">
    {{ 'basic_info' | translate }}
  </div>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'secret.name' | translate }}</label>
    <input
      [type]="mode === 'create' ? 'text' : 'hidden'"
      auiFormItemControl
      name="name"
      #name="ngModel"
      aui-input
      required
      [maxlength]="nameRule.maxLength"
      [pattern]="nameRule.pattern"
      [placeholder]="nameRule.placeholder | translate"
      [(ngModel)]="model.name"
    />
    <span *ngIf="mode !== 'create'" auiFormItemControl>
      {{ model.name }}
    </span>
    <div auiFormItemError *ngIf="name.errors?.required">
      {{ nameRule.requiredError | translate }}
    </div>
    <div auiFormItemError *ngIf="name.errors?.pattern">
      {{ nameRule.patternError | translate }}
    </div>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
    <input
      auiFormItemControl
      name="displayName"
      #displayName="ngModel"
      aui-input
      [(ngModel)]="model.displayName"
    />
  </aui-form-item>
  <ng-container *ngIf="env === 'admin'">
    <aui-form-item *ngIf="mode === 'create'">
      <label auiFormItemLabel>{{ 'secret.scope' | translate }}</label>
      <aui-radio-group
        auiFormItemControl
        name="private"
        [(ngModel)]="model.private"
        class="secret-scope"
      >
        <aui-radio-button [value]="false">
          <div class="secret-type-wrapper">
            <img src="icons/secret-public.svg" alt="devops" />
            <span>{{ 'secret.global' | translate }}</span>
          </div>
        </aui-radio-button>
        <aui-radio-button [value]="true">
          <div class="secret-type-wrapper">
            <img src="icons/secret-private.svg" alt="devops" />
            <span>{{ 'secret.private' | translate }}</span>
          </div>
        </aui-radio-button>
      </aui-radio-group>
      <a auiFormItemAddon class="icon-style" href="javascript:void(0)">
        <aui-icon
          icon="basic:question"
          size="16px"
          [auiTooltip]="help"
        ></aui-icon>
      </a>
    </aui-form-item>
    <aui-form-item *ngIf="model.private && !namespace">
      <label auiFormItemLabel>{{ 'secret.belongs_project' | translate }}</label>
      <aui-select
        auiFormItemControl
        name="namespace"
        #namespaceControl="ngModel"
        [(ngModel)]="model.namespace"
        [disabled]="!projects.length"
        filterable
        [placeholder]="
          (projects.length
            ? 'secret.please_select_project'
            : 'secret.no_projects'
          ) | translate
        "
        required
      >
        <aui-option *ngFor="let project of projects" [value]="project.name">
          <span>{{ project.name }}</span>
          <span *ngIf="project.displayName" class="display-name">
            ({{ project.displayName }})
          </span>
        </aui-option>
      </aui-select>
      <div auiFormItemError *ngIf="namespaceControl.errors?.required">
        {{ 'required' | translate }}
      </div>
    </aui-form-item>
    <aui-form-item *ngIf="model.private && namespace">
      <label auiFormItemLabel>{{ 'secret.belongs_project' | translate }}</label>
      <span auiFormItemControl>
        <ng-container *ngIf="model.private">
          <span>{{ namespace }}</span>
          <span *ngIf="belongsProject?.displayName" class="display-name">
            ({{ belongsProject.displayName }})
          </span>
        </ng-container>
        <ng-container *ngIf="!model.private">
          <span>{{ 'secret.global' | translate }}</span>
        </ng-container>
      </span>
    </aui-form-item>
  </ng-container>
  <div class="form-group-header">
    {{ 'data' | translate }}
  </div>
  <aui-inline-alert type="primary" *ngIf="mode === 'create'">
    <ng-container *ngIf="tips; else documentLink">
      <div *ngFor="let line of tipLines">
        {{ line }}
      </div>
    </ng-container>
    <ng-template #documentLink>
      <span>{{ 'secret.create_document_link' | translate }}</span>
      <a [href]="getDocumentLink()" class="document-link" target="_blank">
        {{ 'help_document' | translate }}
        <aui-icon icon="basic:jump"></aui-icon>
      </a>
    </ng-template>
  </aui-inline-alert>
  <aui-form-item *ngIf="mode === 'create'">
    <label auiFormItemLabel>{{ 'type' | translate }}</label>
    <aui-radio-group auiFormItemControl name="type" [(ngModel)]="model.type">
      <aui-radio-button
        [value]="secretTypes.BasicAuth"
        *ngIf="types.includes(secretTypes.BasicAuth)"
      >
        {{ 'secret.basic_auth' | translate }}
      </aui-radio-button>
      <aui-radio-button
        [value]="secretTypes.OAuth2"
        *ngIf="types.includes(secretTypes.OAuth2)"
      >
        {{ 'secret.oauth2' | translate }}
      </aui-radio-button>
      <aui-radio-button
        [value]="secretTypes.SSH"
        *ngIf="types.includes(secretTypes.SSH)"
      >
        {{ 'secret.ssh' | translate }}
      </aui-radio-button>
      <aui-radio-button
        [value]="secretTypes.DockerConfig"
        *ngIf="types.includes(secretTypes.DockerConfig)"
      >
        {{ 'secret.docker_config' | translate }}
      </aui-radio-button>
    </aui-radio-group>
  </aui-form-item>
  <aui-form-item *ngIf="mode !== 'create'">
    <label auiFormItemLabel>{{ 'type' | translate }}</label>
    <span auiFormItemControl>
      <ng-container [ngSwitch]="model.type">
        <ng-container *ngSwitchCase="secretTypes.BasicAuth">
          {{ 'secret.basic_auth' | translate }}
        </ng-container>
        <ng-container *ngSwitchCase="secretTypes.OAuth2">
          {{ 'secret.oauth2' | translate }}
        </ng-container>
        <ng-container *ngSwitchCase="secretTypes.Opaque">
          {{ 'secret.opaque' | translate }}
        </ng-container>
        <ng-container *ngSwitchCase="secretTypes.DockerConfig">
          {{ 'secret.docker_config' | translate }}
        </ng-container>
      </ng-container>
    </span>
  </aui-form-item>
  <ng-container *ngIf="model.type === secretTypes.BasicAuth">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'username' | translate }}</label>
      <input
        auiFormItemControl
        autocomplete="new-password"
        aui-input
        [(ngModel)]="model.username"
        #username="ngModel"
        name="username"
        required
      />
      <div auiFormItemError *ngIf="username.errors?.required">
        {{ 'required' | translate }}
      </div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'password' | translate }}</label>
      <aui-input-group>
        <aui-icon
          auiInputSuffix
          class="show-password"
          (click)="showPassword = !showPassword"
          [icon]="showPassword ? 'basic:eye_s' : 'basic:eye_slash_s'"
        ></aui-icon>
        <input
          auiFormItemControl
          autocomplete="new-password"
          aui-input
          [(ngModel)]="model.password"
          #username="ngModel"
          name="password"
          [type]="showPassword ? 'text' : 'password'"
          required
        />
      </aui-input-group>
      <div auiFormItemError *ngIf="username.errors?.required">
        {{ 'required' | translate }}
      </div>
    </aui-form-item>
  </ng-container>
  <ng-container *ngIf="model.type === secretTypes.OAuth2">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'secret.client_id' | translate }}</label>
      <input
        auiFormItemControl
        autocomplete="new-password"
        aui-input
        [(ngModel)]="model.clientID"
        #clientId="ngModel"
        name="clientId"
        required
      />
      <div auiFormItemError *ngIf="clientId.errors?.required">
        {{ 'required' | translate }}
      </div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'secret.client_secret' | translate }}</label>
      <aui-input-group>
        <aui-icon
          auiInputSuffix
          class="show-password"
          (click)="showClientSecret = !showClientSecret"
          [icon]="showClientSecret ? 'basic:eye_s' : 'basic:eye_slash_s'"
        ></aui-icon>
        <input
          auiFormItemControl
          autocomplete="new-password"
          aui-input
          [(ngModel)]="model.clientSecret"
          #clientSecret="ngModel"
          name="clientSecret"
          [type]="showClientSecret ? 'text' : 'password'"
          required
        />
      </aui-input-group>
      <div auiFormItemError *ngIf="clientSecret.errors?.required">
        {{ 'required' | translate }}
      </div>
    </aui-form-item>
  </ng-container>
  <ng-container *ngIf="model.type === secretTypes.DockerConfig">
    <aui-form-item>
      <label auiFormItemLabel>{{ 'secret.docker_address' | translate }}</label>
      <input
        auiFormItemControl
        aui-input
        [(ngModel)]="model.dockerAddress"
        #dockerAddress="ngModel"
        name="dockerAddress"
        required
      />
      <div auiFormItemError *ngIf="dockerAddress.errors?.required">
        {{ 'required' | translate }}
      </div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'secret.docker_username' | translate }}</label>
      <input
        auiFormItemControl
        autocomplete="new-password"
        aui-input
        [(ngModel)]="model.dockerUsername"
        #dockerUsername="ngModel"
        name="dockerUsername"
        required
      />
      <div auiFormItemError *ngIf="dockerUsername.errors?.required">
        {{ 'required' | translate }}
      </div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'secret.docker_password' | translate }}</label>
      <aui-input-group>
        <aui-icon
          auiInputSuffix
          class="show-password"
          (click)="showDockerPassword = !showDockerPassword"
          [icon]="showDockerPassword ? 'basic:eye_s' : 'basic:eye_slash_s'"
        ></aui-icon>
        <input
          auiFormItemControl
          autocomplete="new-password"
          aui-input
          [(ngModel)]="model.dockerPassword"
          #dockerPassword="ngModel"
          [type]="showDockerPassword ? 'text' : 'password'"
          name="dockerPassword"
          required
        />
      </aui-input-group>
      <div auiFormItemError *ngIf="dockerPassword.errors?.required">
        {{ 'required' | translate }}
      </div>
    </aui-form-item>
    <aui-form-item>
      <label auiFormItemLabel>{{ 'secret.docker_email' | translate }}</label>
      <input
        auiFormItemControl
        aui-input
        [(ngModel)]="model.dockerEmail"
        #dockerEmail="ngModel"
        name="dockerEmail"
        required
      />
      <div auiFormItemError *ngIf="dockerEmail.errors?.required">
        {{ 'required' | translate }}
      </div>
    </aui-form-item>
  </ng-container>
  <aui-form-item *ngIf="model.type === secretTypes.SSH">
    <label auiFormItemLabel>{{ 'secret.ssh_privatekey' | translate }}</label>
    <textarea
      aui-input
      auiFormItemControl
      name="sshPrivatekey"
      [(ngModel)]="model.sshPrivatekey"
      #sshPrivatekey="ngModel"
      required
    ></textarea>
    <div auiFormItemError *ngIf="sshPrivatekey.errors?.required">
      {{ 'required' | translate }}
    </div>
  </aui-form-item>
</form>

<ng-template #help>
  <ul class="help">
    <li>{{ 'secret.scope_hint_global' | translate }}</li>
    <li>{{ 'secret.scope_hint_project' | translate }}</li>
  </ul>
</ng-template>
