@import 'var';
@import 'variables';

.form-status {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}
aui-select {
  width: 100%;
  ::ng-deep .aui-select {
    width: 100%;
  }
}

aui-input-group {
  width: 100%;
}

.icon-style {
  color: #999;
  &:hover {
    color: $color-primary;
    cursor: default;
  }
}

.display-name {
  color: #999;
  margin-left: 4px;
}

.secret-scope {
  .secret-type-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      display: inline-block;
      height: 16px;
      width: 16px;
      margin-right: 4px;
    }
  }
}

.document-link {
  aui-icon {
    margin-right: 4px;
  }
}

.form-group-header {
  font-size: 18px;
  font-weight: medium;
  margin-bottom: 16px;
}

.help {
  padding: 0 16px;
}

.show-password {
  &:hover {
    cursor: pointer;
    color: $color-primary;
  }
}
