<form [formGroup]="form" auiForm auiFormLabelWidth="150px" #ngForm="ngForm">
  <aui-form-item>
    <label auiFormItemLabel>{{ 'name' | translate }}</label>
    <input
      auiFormItemControl
      aui-input
      formControlName="name"
      [placeholder]="nameRule.placeholder | translate"
      required
    />
    <div auiFormItemError *ngIf="form.controls?.name?.errors?.required">
      {{ nameRule.requiredError | translate }}
    </div>
    <div auiFormItemError *ngIf="form.controls?.name?.errors?.pattern">
      {{ nameRule.patternError | translate }}
    </div>
    <div auiFormItemError *ngIf="form.controls?.name?.errors?.maxlength">
      {{ nameRule.maxLengthError | translate }}
    </div>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>{{ 'description' | translate }}</label>
    <textarea aui-input formControlName="description"></textarea>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>{{ 'auth_type' | translate }}</label>
    <aui-radio-group formControlName="authType">
      <aui-radio-button [value]="SecretType.BasicAuth">{{
        'secret.basic_auth' | translate
      }}</aui-radio-button>
    </aui-radio-group>
  </aui-form-item>

  <aui-form-item>
    <label auiFormItemLabel>{{ 'secret' | translate }}</label>

    <aui-select
      auiFormItemControl
      formControlName="secret"
      filterable
      required
      [placeholder]="'please_select_secret' | translate"
    >
      <aui-option-group class="secret-group">
        <div auiOptionGroupTitle class="secret-group__title">
          <img src="icons/secret-public.svg" alt="devops" />
          <span>{{ 'secret.global' | translate }}</span>
        </div>
        <aui-option
          *ngFor="let item of (secrets$ | async)?.public"
          [value]="secretToValue(item)"
          [label]="item.name"
        >
          <span>{{ item.name }}</span>
          <span class="secret-group__display-name" *ngIf="!!item.displayName"
            >({{ item.displayName }})</span
          >
        </aui-option>
      </aui-option-group>
      <aui-option-group class="secret-group">
        <div auiOptionGroupTitle class="secret-group__title">
          <img src="icons/secret-private.svg" alt="devops" />
          <span>{{ 'secret.private' | translate }}</span>
        </div>
        <aui-option
          *ngFor="let item of (secrets$ | async)?.private"
          [value]="secretToValue(item)"
          [label]="item.name"
        >
          <span>{{ item.name }}</span>
          <span class="secret-group__display-name" *ngIf="!!item.displayName"
            >({{ item.displayName }})</span
          >
        </aui-option>
      </aui-option-group>
      <aui-option-placeholder>{{
        'no_available_secrets' | translate
      }}</aui-option-placeholder>
    </aui-select>

    <button aui-button type="button" class="add-secret" (click)="addSecret()">
      {{ 'add_secret' | translate }}
    </button>
    <div auiFormItemError *ngIf="form.controls?.secret?.errors?.required">
      {{ 'required' | translate }}
    </div>
  </aui-form-item>
</form>
