<ng-container *aloPageHeaderContent>
    <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <a [routerLink]="parentRoute">{{ 'secret.list' | translate }}</a>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ (id$ | async)?.name }}
      </span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>

<acl-page-state [adapter]="dataManager"
                [autoRedirect]="false"
                (redirect)="back()">
  <ng-template let-data="data" let-permissions="permissions">
    <alo-secret-detail [identity]="id$ | async"
                       [data]="data"
                       [permissions]="permissions"
                       (deleted)="onDeleted()"
                       (refresh)="dataManager.reload()"></alo-secret-detail>
  </ng-template>
</acl-page-state>
