<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <a [routerLink]="['../']">{{ 'secret.list' | translate }}</a>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ 'secret.create' | translate }}
      </span>
    </ng-template>
  </alo-breadcrumb>
</ng-container>
<aui-card>
  <div auiCardHeader>
    <span>{{ 'secret.create' | translate }}</span>
  </div>
  <alo-secret-edit
    #editForm=alo-secret-edit
    [namespace]="project"
    [env]="env"
    (saved)="redirect($event)"
    (statusChange)="onStatusChange($event)"
  ></alo-secret-edit>
  <div auiCardFooter class="form-actions">
    <button
      aui-button="primary"
      [disabled]="['saving', 'loading'].includes(status)"
      [loading]="status === 'saving'"
      (click)="editForm.submit()"
    >
      {{ 'create' | translate }}
    </button>
    <button aui-button routerLink="../">
      {{ 'cancel' | translate }}
    </button>
  </div>
</aui-card>