<aui-dialog-content>
  <form auiForm>
    <alo-configsecret-form
      [namespace]="data.namespace"
      [types]="data.types"
      name="formModel"
      [(ngModel)]="formModel"
    >
      <aui-form-item labelWidth="150px">
        <label auiFormItemLabel> {{ 'display_name' | translate }} </label>
        <input
          auiFormItemControl
          aui-input
          [(ngModel)]="displayName"
          name="displayname"
          #displayname="ngModel"
        />
        <div auiFormItemAddon></div>
      </aui-form-item>
    </alo-configsecret-form>
  </form>
</aui-dialog-content>

<aui-dialog-footer>
  <button
    aui-button="primary"
    [loading]="submitting"
    [disabled]="submitDisabled"
    (click)="create()"
  >
    {{ 'create' | translate }}
  </button>

  <button
    aui-button
    auiDialogClose
  >
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
