@import 'var';

.header-icon {
  margin-right: 8px;
  font-size: 24px;
  color: $color-error;
}

.hint {
  margin-bottom: 16px;
}

.tips {
  margin-bottom: 4px;
}

.aui-input {
  display: inline-block;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #fff;
  color: #333;
  outline: 0;
  text-overflow: ellipsis;
}

.aui-input--medium {
  height: 32px;
  padding: 0 7px;
  font-size: 14px;
}
