<acl-page-state [adapter]="dataManager">
  <ng-template let-resource="resource" let-permissions="permissions">
    <ng-container *aloPageHeaderContent>
      <alo-breadcrumb>
        <ng-template aloBreadcrumbItem>
          <a [routerLink]="['../../']">
            {{ 'storage.list' | translate }}
          </a>
        </ng-template>
        <ng-template aloBreadcrumbItem>
        <span>
          {{ (params$ | async).name }}
        </span>
        </ng-template>
      </alo-breadcrumb>
      <div fxFlex></div>
      <button
        aui-button="primary"
        [plain]="true"
        size="small"
        [auiDropdown]="actions"
      >
        {{ 'action' | translate }}
        <aui-icon
          icon="angle_down"
          margin="left"
        ></aui-icon>
      </button>
      <aui-menu #actions>
        <!-- 存储暂时不提供更新功能 -->
        <!-- <aui-menu-item [routerLink]="['../../update/',storageDetail?.objectMeta.name]">{{
          'update' | translate }}</aui-menu-item> -->
        <acl-disabled-container [isAllowed]="permissions.delete">
          <aui-menu-item (click)="storageDetailRef.deleteStorage()">
            {{ 'delete' | translate }}
          </aui-menu-item>
        </acl-disabled-container>
      </aui-menu>
    </ng-container>
    <alo-storage-detail
      #storageDetailRef
      [params]="params$ | async"
      [data]="resource"
      [allowedUpdate]="permissions.update"
      (updated)="dataManager.reload()"
      (deleted)="onDeleted()"
    ></alo-storage-detail>
  </ng-template>
</acl-page-state>
