<aui-dialog-header>
  <span>{{ 'secret.create_secret' | translate }}</span>
</aui-dialog-header>
<aui-dialog-content>
  <alo-secret-edit
    mode="create"
    [namespace]="data.namespace"
    [types]="data.types"
    [env]="data.env"
    [tips]="data.tips"
    #editor="alo-secret-edit"
    (saved)="close($event)"
    (statusChange)="onStatusChange($event)"
  >
  </alo-secret-edit>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    [disabled]="['saving', 'loading'].includes(status)"
    [loading]="status === 'saving'"
    (click)="editor.submit()"
  >
    {{ 'create' | translate }}
  </button>

  <button
    aui-button
    auiDialogClose
  >
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
