<aui-card>
  <div auiCardHeader class="base-header">
    <div class="title">
      <img [src]="getItemIcon(data)" *ngIf="data" alt="devops" />
      <span>{{ data?.name || '-' }}</span>
    </div>
    <alo-menu-trigger
      [menu]="actionsMenu"
      [context]="{ data: data }"
    ></alo-menu-trigger>
  </div>
  <div class="alo-detail">
    <div class="alo-detail__row">
      <div class="alo-detail__field">
        <label>{{ 'display_name' | translate }}</label>
        <span>{{ data?.displayName || '-' }}</span>
      </div>
      <div class="alo-detail__field">
        <label>{{ 'create_at' | translate }}</label>
        <span>{{ data?.creationTimestamp | aclStandardTime }}</span>
      </div>
    </div>
    <div class="alo-detail__row" *ngIf="env === 'admin'">
      <div class="alo-detail__field">
        <label>{{ 'secret.scope' | translate }}</label>
        <span *ngIf="!data">-</span>
        <span *ngIf="data">
          <a
            *ngIf="data.private; else globalSecret"
            [routerLink]="['../../../', 'projects', data.namespace]"
          >
            {{ data.namespace }}
          </a>
          <ng-template #globalSecret>
            {{ 'secret.global' | translate }}
          </ng-template>
        </span>
      </div>
    </div>
    <div class="alo-detail__group-header">
      {{ 'data' | translate }}
    </div>
    <ng-container *ngIf="data?.type === secretTypes.BasicAuth">
      <div class="alo-detail__row">
        <div class="alo-detail__field">
          <label>{{ 'secret.type' | translate }}</label>
          <span>{{ 'secret.username_password' | translate }}</span>
        </div>
      </div>
      <div class="alo-detail__row">
        <div class="alo-detail__field">
          <label>{{ 'secret.data' | translate }}</label>
          <div>
            <span>{{ 'secret.username_data' | translate }}</span>
            <acl-disabled-container [isAllowed]="permissions?.update">
              <a
                href="javascript:;"
                class="edit"
                [ngClass]="{ 'disabled-icon': !permissions?.update }"
                (click)="updateData(data)"
              >
                <aui-icon icon="basic:pencil_s"></aui-icon>
              </a>
            </acl-disabled-container>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="data?.type === secretTypes.OAuth2">
      <div class="alo-detail__row">
        <div class="alo-detail__field">
          <label>{{ 'secret.type' | translate }}</label>
          <span>{{ 'secret.oauth2' | translate }}</span>
        </div>
      </div>
      <div class="alo-detail__row">
        <div class="alo-detail__field">
          <label>{{ 'secret.data' | translate }}</label>
          <div>
            <span>{{ 'secret.oauth_data' | translate }}</span>
            <acl-disabled-container [isAllowed]="permissions?.update">
              <a
                href="javascript:;"
                class="edit"
                [ngClass]="{ 'disabled-icon': !permissions?.update }"
                (click)="updateData(data)"
              >
                <aui-icon icon="basic:pencil_s"></aui-icon>
              </a>
            </acl-disabled-container>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="data?.type === secretTypes.SSH">
      <div class="alo-detail__row">
        <div class="alo-detail__field">
          <label>{{ 'secret.type' | translate }}</label>
          <span>{{ 'secret.ssh' | translate }}</span>
        </div>
      </div>
      <div class="alo-detail__row">
        <div class="alo-detail__field">
          <label>{{ 'secret.data' | translate }}</label>
          <div>
            <span>{{ 'secret.ssh_privatekey' | translate }}</span>
            <acl-disabled-container [isAllowed]="permissions?.update">
              <a
                href="javascript:;"
                class="edit"
                [ngClass]="{ 'disabled-icon': !permissions?.update }"
                (click)="updateData(data)"
              >
                <aui-icon icon="basic:pencil_s"></aui-icon>
              </a>
            </acl-disabled-container>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="data?.type === secretTypes.DockerConfig">
      <div class="alo-detail__row">
        <div class="alo-detail__field">
          <label>{{ 'secret.type' | translate }}</label>
          <span>{{ 'secret.docker_registry' | translate }}</span>
        </div>
      </div>
      <div class="alo-detail__row">
        <div class="alo-detail__field">
          <label>{{ 'secret.data' | translate }}</label>
          <div>
            <span>{{ 'secret.docker_address_data' | translate }}</span>
            <acl-disabled-container [isAllowed]="permissions?.update">
              <a
                href="javascript:;"
                class="edit"
                [ngClass]="{ 'disabled-icon': !permissions?.update }"
                (click)="updateData(data)"
              >
                <aui-icon icon="basic:pencil_s"></aui-icon>
              </a>
            </acl-disabled-container>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</aui-card>

<aui-menu #actionsMenu>
  <ng-template auiMenuContent let-data="data">
    <acl-disabled-container [isAllowed]="permissions?.update">
      <aui-menu-item (click)="updateDisplayName(data)">
        {{ 'secret.update_display_name' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
    <acl-disabled-container [isAllowed]="permissions?.update">
      <aui-menu-item (click)="updateData(data)">
        {{ 'secret.update_data' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
    <acl-disabled-container [isAllowed]="permissions?.delete">
      <aui-menu-item type="danger" (click)="delete(data)">
        {{ 'delete' | translate }}
      </aui-menu-item>
    </acl-disabled-container>
  </ng-template>
</aui-menu>
