.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}

.disabled-icon {
  color: #b3d4ff;
}

.edit {
  margin-left: 8px;
}
