<aui-dialog-header>
    <span>{{ 'secret.update_display_name' | translate }}</span>
  </aui-dialog-header>
  <aui-dialog-content>
    <form
      auiForm
      auiFormLabelWidth="120px"
      [auiFormEmptyAddon]="true"
      (ngSubmit)="save()"
      #form="ngForm"
      novalidate
    >
      <aui-form-item>
        <label auiFormItemLabel>{{ 'display_name' | translate }}</label>
        <input
          auiFormItemControl
          name="displayName"
          #displayName="ngModel"
          aui-input
          [(ngModel)]="model.displayName"
        />
      </aui-form-item>
    </form>
  </aui-dialog-content>
  <aui-dialog-footer>
    <button
      aui-button="primary"
      [disabled]="saving || loading"
      [loading]="saving"
      (click)="save()"
    >
      {{ 'update' | translate }}
    </button>
  
    <button
      aui-button
      auiDialogClose
    >
      {{ 'cancel' | translate }}
    </button>
  </aui-dialog-footer>
  