<aui-dialog-header>
    <span>{{ 'secret.update_data' | translate }}</span>
  </aui-dialog-header>
  <aui-dialog-content>
    <aui-inline-alert type="warning">
      <span>{{ 'secret.update_data_tips' | translate }}</span>
    </aui-inline-alert>
    <form
      auiForm
      auiFormLabelWidth="120px"
      [auiFormEmptyAddon]="true"
      (ngSubmit)="onSubmit()"
      #form="ngForm"
      novalidate
    >
      <aui-form-item>
        <label auiFormItemLabel>{{ 'secret.name' | translate }}</label>
        <span auiFormItemControl>{{ model.name }}</span>
      </aui-form-item>
      <aui-form-item>
        <label auiFormItemLabel>{{ 'type' | translate }}</label>
        <span auiFormItemControl>
          <ng-container [ngSwitch]="model.type">
            <ng-container *ngSwitchCase="secretTypes.BasicAuth">
              {{ 'secret.basic_auth' | translate }}
            </ng-container>
            <ng-container *ngSwitchCase="secretTypes.OAuth2">
              {{ 'secret.oauth2' | translate }}
            </ng-container>
            <ng-container *ngSwitchCase="secretTypes.SSH">
              {{ 'secret.ssh' | translate }}
            </ng-container>
            <ng-container *ngSwitchCase="secretTypes.DockerConfig">
              {{ 'secret.docker_config' | translate }}
            </ng-container>
          </ng-container>
        </span>
      </aui-form-item>
      <ng-container *ngIf="model.type === secretTypes.BasicAuth">
        <aui-form-item>
          <label auiFormItemLabel>{{ 'username' | translate }}</label>
          <input
            auiFormItemControl
            autocomplete="new-password"
            aui-input
            [(ngModel)]="model.username"
            #username="ngModel"
            name="username"
            required
            [placeholder]="'secret.please_fill_new_username' | translate"
          />
          <div
            auiFormItemError
            *ngIf="username.errors?.required"
          >
            {{ 'required' | translate }}
          </div>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>{{ 'password' | translate }}</label>
          <aui-input-group>
            <aui-icon auiInputSuffix
                      class="show-password"
                      (click)="showPassword = !showPassword"
                      [icon]="showPassword ? 'basic:eye_s' : 'basic:eye_slash_s'"></aui-icon>
            <input
              auiFormItemControl
              autocomplete="new-password"
              aui-input
              [(ngModel)]="model.password"
              #username="ngModel"
              name="password"
              [type]="showPassword ? 'text' : 'password'"
              required
              [placeholder]="'secret.please_fill_new_password' | translate"
            >
          </aui-input-group>
          <div
            auiFormItemError
            *ngIf="username.errors?.required"
          >
            {{ 'required' | translate }}
          </div>
        </aui-form-item>
      </ng-container>
      <ng-container *ngIf="model.type === secretTypes.OAuth2">
        <aui-form-item>
          <label auiFormItemLabel>{{ 'secret.client_id' | translate }}</label>
          <input
            auiFormItemControl
            autocomplete="new-password"
            aui-input
            [(ngModel)]="model.clientID"
            #clientId="ngModel"
            name="clientId"
            required
            [placeholder]="'secret.please_fill_new_client_id' | translate"
          />
          <div
            auiFormItemError
            *ngIf="clientId.errors?.required"
          >
            {{ 'required' | translate }}
          </div>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>{{ 'secret.client_secret' | translate }}</label>
          <aui-input-group>
            <aui-icon auiInputSuffix
                      class="show-password"
                      (click)="showClientSecret = !showClientSecret"
                      [icon]="showClientSecret ? 'basic:eye_s' : 'basic:eye_slash_s'"></aui-icon>
            <input
              auiFormItemControl
              autocomplete="new-password"
              aui-input
              [(ngModel)]="model.clientSecret"
              #clientSecret="ngModel"
              name="clientSecret"
              [type]="showClientSecret ? 'text' : 'password'"
              required
              [placeholder]="'secret.please_fill_new_client_secret' | translate"
            >
          </aui-input-group>
          <div
            auiFormItemError
            *ngIf="clientSecret.errors?.required"
          >
            {{ 'required' | translate }}
          </div>
        </aui-form-item>
      </ng-container>
      <ng-container *ngIf="model.type === secretTypes.DockerConfig">
        <aui-form-item>
          <label auiFormItemLabel>{{ 'secret.docker_address' | translate }}</label>
          <input
            auiFormItemControl
            aui-input
            [(ngModel)]="model.dockerAddress"
            #dockerAddress="ngModel"
            name="dockerAddress"
            required
          />
          <div
            auiFormItemError
            *ngIf="dockerAddress.errors?.required"
          >
            {{ 'required' | translate }}
          </div>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>{{ 'secret.docker_username' | translate }}</label>
          <input
            auiFormItemControl
            autocomplete="new-password"
            aui-input
            [(ngModel)]="model.dockerUsername"
            #dockerUsername="ngModel"
            name="dockerUsername"
            required
            [placeholder]="'secret.please_fill_new_username' | translate"
          />
          <div
            auiFormItemError
            *ngIf="dockerUsername.errors?.required"
          >
            {{ 'required' | translate }}
          </div>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>{{ 'secret.docker_password' | translate }}</label>
          <aui-input-group>
            <aui-icon auiInputSuffix
                      class="show-password"
                      (click)="showDockerPassword = !showDockerPassword"
                      [icon]="showDockerPassword ? 'basic:eye_s' : 'basic:eye_slash_s'"></aui-icon>
            <input
              auiFormItemControl
              autocomplete="new-password"
              aui-input
              [(ngModel)]="model.dockerPassword"
              #dockerPassword="ngModel"
              [type]="showDockerPassword ? 'text' : 'password'"
              name="dockerPassword"
              required
              [placeholder]="'secret.please_fill_new_username' | translate"
            >
          </aui-input-group>
          <div
            auiFormItemError
            *ngIf="dockerPassword.errors?.required"
          >
            {{ 'required' | translate }}
          </div>
        </aui-form-item>
        <aui-form-item>
          <label auiFormItemLabel>{{ 'secret.docker_email' | translate }}</label>
          <input
            auiFormItemControl
            aui-input
            [(ngModel)]="model.dockerEmail"
            #dockerEmail="ngModel"
            name="dockerEmail"
            required
            [placeholder]="'secret.please_fill_new_email' | translate"
          />
          <div
            auiFormItemError
            *ngIf="dockerEmail.errors?.required"
          >
            {{ 'required' | translate }}
          </div>
        </aui-form-item>
      </ng-container>
      <aui-form-item *ngIf="model.type === secretTypes.SSH">
        <label auiFormItemLabel>{{ 'secret.ssh_privatekey' | translate }}</label>
        <textarea
          aui-input
          auiFormItemControl
          name="sshPrivatekey"
          [(ngModel)]="model.sshPrivatekey"
          #sshPrivatekey="ngModel"
          required
          [placeholder]="'secret.please_fill_new_private_key' | translate"
        ></textarea>
        <div
          auiFormItemError
          *ngIf="sshPrivatekey.errors?.required"
        >
          {{ 'required' | translate }}
        </div>
      </aui-form-item>
    </form>
  </aui-dialog-content>
  <aui-dialog-footer>
    <button
      aui-button="primary"
      [disabled]="saving || loading"
      [loading]="saving"
      (click)="save()"
    >
      {{ 'update' | translate }}
    </button>
  
    <button
      aui-button
      auiDialogClose
    >
      {{ 'cancel' | translate }}
    </button>
  </aui-dialog-footer>
  