<aui-card
  *aloAsyncData="
    let data;
    let loading = loading;
    let error = error;
    params: _params;
    handler: fetchSecrets;
    notification: refresh$;
  "
>
  <div class="list-header">
    <acl-disabled-container [isAllowed]="permissions?.create">
      <button
        aui-button="primary"
        routerLink="./create"
      >
        {{ 'secret.create' | translate }}
      </button>
    </acl-disabled-container>

    <div class="alo-search">
      <button
        aui-button
        [auiDropdown]="searchMenu"
      >
        {{ searchBy | translate }}
        <aui-icon icon="caret_down_s"></aui-icon>
      </button>
      <aui-search
        [keyword]="params.keywords"
        [placeholder]="(searchBy === 'name' ? 'search_by_name_placeholder' : 'search_by_display_name_placeholder') | translate"
        [searchButton]="true"
        [searching]="loading"
        (search)="onSearch($event)"
      ></aui-search>
      <aui-menu #searchMenu>
        <aui-menu-item
          (click)="searchBy='name'"
          [actived]="searchBy === 'name'"
        >
          {{ 'name' | translate }}
        </aui-menu-item>
        <aui-menu-item
          (click)="searchBy='display_name'"
          [actived]="searchBy === 'display_name'"
        >
          {{ 'display_name' | translate }}
        </aui-menu-item>
      </aui-menu>
    </div>
  </div>
  <aui-table
    auiSort
    [dataSource]="data && data.items || []"
    [trackBy]="secretTracker"
    [active]="params.sort"
    [direction]="params.direction"
    (sortChange)="onSortChange($event)"
  >
    <ng-container auiTableColumnDef="name">
      <aui-table-header-cell
        *auiTableHeaderCellDef
        aui-sort-header
      >
        {{ 'name' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item" class="name-cell">
        <img *ngIf="!project" class="name-cell__icon" [src]="getItemIcon(item)" alt="devops" />
        <div class="name-cell__content">
          <a *ngIf="!!itemRoute" class="name-cell__name" [routerLink]="itemRoute(item)">
            <span>{{ item.name }}</span>
          </a>
          <span *ngIf="!itemRoute" class="name-cell__name">
            <span>{{ item.name }}</span>
          </span>
          <div *ngIf="item.displayName" class="name-cell__display-name">{{ item.displayName }}</div>
        </div>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="project">
      <aui-table-header-cell *auiTableHeaderCellDef>
        {{ 'secret.scope' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <a
          *ngIf="item.private"
          [routerLink]="['/admin/projects', item.namespace]"
        >{{ item.namespace }}</a>
        <span *ngIf="!item.private">{{ 'secret.global' | translate }}</span>
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="type">
      <aui-table-header-cell
        *auiTableHeaderCellDef
      >
        {{ 'secret.type' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ getItemType(item) | translate }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="creationTimestamp">
      <aui-table-header-cell
        *auiTableHeaderCellDef
        aui-sort-header
        start="desc"
      >
        {{ 'create_at' | translate }}
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        {{ item.creationTimestamp | aclRelativeTime }}
      </aui-table-cell>
    </ng-container>
    <ng-container auiTableColumnDef="actions">
      <aui-table-header-cell
        *auiTableHeaderCellDef
        start="desc"
      >
      </aui-table-header-cell>
      <aui-table-cell *auiTableCellDef="let item">
        <alo-menu-trigger
          [menu]="actionsMenu"
          [context]="{ item: item }"
        ></alo-menu-trigger>
      </aui-table-cell>
    </ng-container>
    <aui-table-header-row
      *auiTableHeaderRowDef="columns"
    ></aui-table-header-row>
    <aui-table-row
      *auiTableRowDef="let row; columns: columns;"
    ></aui-table-row>
  </aui-table>
  <alo-no-data
    *ngIf="!data || !data.length"
    [resourceName]="'secret.list' | translate"
    [searchKeyword]="params.keywords"
    [loading]="loading"
    [error]="error || data && data.errors"
    (retry)="refresh$.next()"
  ></alo-no-data>
  <aui-paginator
    *ngIf="data && data.length"
    [pageIndex]="pageIndex || 0"
    [pageSize]="pageSize || 20"
    [pageSizeOptions]="[20, 50, 100]"
    [total]="data.length"
    (currentPageChange)="currentPageChange($event)"
    (pageSizeChange)="pageSizeChange($event)"
  ></aui-paginator>
</aui-card>

<aui-menu #actionsMenu>
  <ng-template
    auiMenuContent
    let-item="item"
  >
    <acl-disabled-container [isAllowed]="permissions?.update">

    <aui-menu-item (click)="updateDisplayName(item)">
      {{ 'secret.update_display_name' | translate }}
    </aui-menu-item>
    </acl-disabled-container>
    <acl-disabled-container [isAllowed]="permissions?.update">
    <aui-menu-item (click)="updateData(item)">
      {{ 'secret.update_data' | translate }}
    </aui-menu-item>
    </acl-disabled-container>
    <acl-disabled-container [isAllowed]="permissions?.delete">
      <aui-menu-item type="danger" (click)="delete(item)">{{ 'delete' | translate }}</aui-menu-item>
    </acl-disabled-container>
  </ng-template>
</aui-menu>
