@import 'var';

:host(.side-form) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  > * {
    margin: 0 20px;
  }
}

.side-form {
  &__header {
    padding: 20px 0;
    border-bottom: solid 1px #dedede;
    font-size: 18px;
    line-height: 24px;
    font-weight: medium;
  }

  &__body {
    flex: 1;
    overflow: auto;
    padding: 16px 20px;
  }
  &__group {
    &:last-child {
      ::ng-deep {
        .aui-form-item {
          margin-bottom: 0;
        }
      }
    }
    + .side-form__group {
      margin-top: 16px;
      border-top: dashed 1px #ededed;
    }
  }

  &__group-header {
    padding: 16px 0;
    line-height: 22px;
    font-size: 16px;
    font-weight: medium;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    &:before {
      content: '';
      width: 4px;
      height: 16px;
      background-color: $color-primary;
      margin-right: 8px;
    }
  }
}

.required-container {
  &.full-width {
    width: 100%;
  }
}
