<ng-container *aloPageHeaderContent>
  <alo-breadcrumb>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ 'nav_config' | translate }}
      </span>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <a [routerLink]="['../']">
        {{ 'configsecret.list' | translate }}
      </a>
    </ng-template>
    <ng-template aloBreadcrumbItem>
      <span>
        {{ 'configsecret.create' | translate }}
      </span>
    </ng-template>
  </alo-breadcrumb>
  <!-- yaml互转功能隐藏 -->
  <!-- <div fxFlex></div>
  <aui-radio-group
    [isPlain]="false"
    (ngModelChange)="modeChange($event)"
    [(ngModel)]="displayModel"
  >
    <aui-radio-button value="form">{{'form' | translate}}</aui-radio-button>
    <aui-radio-button value="yaml">YAML</aui-radio-button>
  </aui-radio-group> -->
</ng-container>

<alo-secret-create
  #secretForm
  [displayModel]="displayModel"
  (created)="onCreated($event)"
></alo-secret-create>
