<form class="alo-mutate-page-wrapper">
  <alo-configsecret-form
    *ngIf="mode === 'form'"
    [updateMode]="isUpdate$ | async"
    name="formModel"
    [namespace]="namespace"
    [ngModel]="formModel"
    (ngModelChange)="formModelChange($event)"
  >
    <aui-form-item labelWidth="150px">
      <label auiFormItemLabel> {{ 'display_name' | translate }} </label>
      <input
        auiFormItemControl
        aui-input
        [(ngModel)]="displayName"
        name="displayname"
        #displayname="ngModel"
      />
      <div auiFormItemAddon></div>
    </aui-form-item>
  </alo-configsecret-form>

  <aui-code-editor
    *ngIf="mode === 'yaml'"
    [actionsConfig]="actionsConfig$ | async"
    [originalValue]="originalYaml"
    [options]="editorOptions"
    name="yaml"
    [(ngModel)]="yaml"
  >
  </aui-code-editor>

  <div class="alo-mutate-page-bottom-buttons">
    <button
      aui-button="primary"
      [loading]="submitting"
      [disabled]="submitDisabled"
      (click)="update()"
    >
      {{ method$ | async | translate }}
    </button>
    <button
      (click)="back()"
      type="button"
      [disabled]="submitDisabled"
      aui-button
    >
      {{ 'cancel' | translate }}
    </button>
  </div>
</form>
