<aui-dialog-header
>
  <span>{{ 'update' | translate }}</span>
</aui-dialog-header>
<aui-dialog-content>
  <alo-code-binding-basic-edit
    mode="update"
    [namespace]="data.namespace"
    [name]="data.name"
    [service]="data.service"
    (saved)="close(true)"
    (statusChange)="onStatusChange($event)"
    #editor
  ></alo-code-binding-basic-edit>
</aui-dialog-content>
<aui-dialog-footer>
  <button
    aui-button="primary"
    [disabled]="['loading', 'saving'].includes(status)"
    [loading]="status === 'saving'"
    (click)="editor.submit()"
  >
    {{ 'update' | translate }}
  </button>
  <button
    aui-button
    auiDialogClose
  >
    {{ 'cancel' | translate }}
  </button>
</aui-dialog-footer>
