<form
  #form="ngForm"
  auiForm
  auiFormLabelWidth="150px"
  [auiFormEmptyAddon]="true"
>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'name' | translate }}</label>
    <input
      aui-input
      auiFormItemControl
      #name="ngModel"
      [(ngModel)]="formData.name"
      name="name"
      required
      [placeholder]="nameRule.placeholder | translate"
      [maxlength]="nameRule.maxLength"
      [pattern]="nameRule.pattern"
    >
    <div
      auiFormItemError
      *ngIf="name.errors?.required"
    >{{ nameRule.requiredError | translate }}</div>
    <div
      auiFormItemError
      *ngIf="name.errors?.pattern"
    >{{ nameRule.patternError | translate}}</div>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'description' | translate }}</label>
    <textarea
      aui-input
      auiFormItemControl
      name="description"
      [(ngModel)]="formData.description"
    ></textarea>
  </aui-form-item>
  <aui-form-item>
    <label auiFormItemLabel>{{ 'auth_type' | translate }}</label>
    <aui-radio-group
      auiFormItemControl
      [(ngModel)]="hasAuth"
      [ngModelOptions]="{standalone: true}"
    >
      <aui-radio-button [value]="true">{{ 'secret.basic_auth' | translate }}</aui-radio-button>
      <aui-radio-button [value]="false">{{ 'no_auth' | translate }}</aui-radio-button>
    </aui-radio-group>
  </aui-form-item>
  <aui-form-item *ngIf="hasAuth">
    <label auiFormItemLabel>{{ 'secret' | translate }}</label>
    <aui-select
      auiFormItemControl
      name="secret"
      #secret="ngModel"
      [(ngModel)]="formData.secret"
      filterable
      required
      [placeholder]="'please_select_secret' | translate"
    >
      <aui-option-group class="secret-group">
        <div
          auiOptionGroupTitle
          class="secret-group__title"
        >
          <img src="icons/secret-public.svg" alt="devops" />
          <span>{{ 'secret.global' | translate }}</span>
        </div>
        <aui-option
          *ngFor="let item of (secrets$ | async)?.public"
          [value]="secretToValue(item)"
          [label]="item.name"
        >
          <span>{{ item.name }}</span>
          <span
            class="secret-group__display-name"
            *ngIf="!!item.displayName"
          >({{ item.displayName }})</span>
        </aui-option>
      </aui-option-group>
      <aui-option-group class="secret-group">
        <div
          auiOptionGroupTitle
          class="secret-group__title"
        >
          <img src="icons/secret-private.svg" alt="devops" />
          <span>{{ 'secret.private' | translate }}</span>
        </div>
        <aui-option
          *ngFor="let item of (secrets$ | async)?.private"
          [value]="secretToValue(item)"
          [label]="item.name"
        >
          <span>{{ item.name }}</span>
          <span
            class="secret-group__display-name"
            *ngIf="!!item.displayName"
          >({{ item.displayName }})</span>
        </aui-option>
      </aui-option-group>
      <aui-option-placeholder>{{ 'no_available_secrets' | translate }}</aui-option-placeholder>
    </aui-select>
    <div
      auiFormItemHint
      class="bind-secret-tips"
    >{{ 'bind_image_registry_tips' | translate }}</div>
    <button
      aui-button
      type="button"
      class="add-secret"
      (click)="addSecret()"
    >{{ 'add_secret' | translate }}</button>
    <div
      auiFormItemError
      *ngIf="secret.errors?.required"
    >{{ 'required' | translate }}</div>
  </aui-form-item>
</form>
