.list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
}

.dashboard-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}

aui-paginator {
  margin-top: 20px;
}

main {
  overflow: auto;
}
