@import 'var';

$queued: $color-primary;
$pending: $color-primary;
$running: $color-primary;
$failed: $color-error;
$complete: $color-success;
$cancelled: #999;
$aborted: #999;
$unknown: $color-info;

$status-color-map: (
  pending: $pending,
  queued: $queued,
  running: $running,
  failed: $failed,
  complete: $complete,
  cancelled: $cancelled,
  aborted: $aborted,
  unknown: $unknown,
);

.history-status {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  aui-icon {
    border-radius: 50%;
    margin-right: 4px;
  }

  @each $status, $color in $status-color-map {
    &.#{$status} {
      aui-icon {
        color: $color;
      }
    }
    &.bg.#{$status} {
      background-color: $color;
    }
    &.bg.#{$status} {
      aui-icon {
        color: #fff;
      }
    }
    &.tab.#{$status} {
      border-bottom: 2px solid $color;
    }
  }
}
