@import 'var';

.pencil {
  cursor: pointer;
  margin-left: 4px;
  flex-shrink: 0;
  color: $color-primary;
}
.not-allowed-update {
  cursor: not-allowed;
  margin-left: 4px;
  color: #999;
}

.title {
  .cycle-icon {
    padding: 2px 3px;
    border: 1px solid;
    border-radius: 15px;
    margin-right: 5px;
  }
  .icon-secrets {
    color: #6359b4;
  }
  .icon-credentials {
    color: #b459a2;
  }
}
