<aui-card>
  <div auiCardHeader class="base-header">
    <div class="title">
      <aui-icon
        class="cycle-icon icon-secrets"
        icon="basic:secrets_s"
        *ngIf="getSecretIconType(data?.type) === 'secrets'"
      ></aui-icon>
      <aui-icon
        class="cycle-icon icon-credentials"
        icon="basic:credential_s"
        *ngIf="getSecretIconType(data?.type) === 'credentials'"
      ></aui-icon>
      <span>{{ params.name || '-' }}</span>
    </div>
  </div>
  <div class="alo-detail">
    <div class="alo-detail__row">
      <div class="alo-detail__field">
        <label>{{ 'display_name' | translate }}</label>
        <span>{{ data?.displayName || '-' }}</span>
      </div>
    </div>
    <div class="alo-detail__row">
      <div class="alo-detail__field">
        <label>{{ 'type' | translate }}</label>
        <span>{{ getSecretTypeDisplayName(data?.type) }}</span>
      </div>
      <div class="alo-detail__field">
        <label>{{ 'create_at' | translate }}</label>
        <span>{{ data?.metadata.creationTimestamp | aclStandardTime }}</span>
      </div>
    </div>
    <div class="alo-detail__group-header">{{ 'data' | translate }}</div>
    <alo-configsecret-data-viewer
      [data]="data?.data"
      [type]="data?.type"
    ></alo-configsecret-data-viewer>
  </div>
</aui-card>
