@import 'var';

:host {
  .name-cell {
    display: flex;
    img {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      margin-right: 8px;
    }
    .alert-icon {
      margin-left: 4px;
      color: #f8ac58;
    }
    .loading-icon {
      margin-left: 4px;
      color: #999;
    }
    .jump-icon {
      color: #999;
      margin-left: 4px;
      cursor: pointer;
      :hover {
        color: $color-primary;
      }
    }
  }
}
