@import 'variables';

.aui-table {
  min-width: 0px;
  &__column-actions {
    max-width: 40px;
  }
}

.tooltip-container {
  .tooltip-list {
    font-size: 14px;
    color: $color-primary;
    margin-left: 15px;
    padding: 5px 10px 5px 0;
    a {
      cursor: pointer;
      color: $color-primary;
      &:hover {
        color: $color-primary;
      }
    }
  }
}

.keys-container-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  .keys-container {
    background-color: #fafafa;
    margin: 2px;
    padding: 1px;
  }
}

.name-container {
  display: flex;
  align-items: center;
  .icon {
    .cycle-icon {
      padding: 2px 3px;
      border: 1px solid;
      border-radius: 15px;
      margin-right: 5px;
    }
    &__secrets {
      color: #6359b4;
    }
    &__credentials {
      color: #b459a2;
    }
  }
  .secret-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    > a {
      font-weight: 500;
    }
  }
  .display-name {
    color: #999;
  }
}
