<aui-table
  auiSort
  [dataSource]="data"
  [active]="params.sort"
  [direction]="params.direction"
  (sortChange)="onSort($event)"
  [trackBy]="tracker"
>
  <ng-container auiTableColumnDef="name">
    <aui-table-header-cell
      *auiTableHeaderCellDef
      aui-sort-header
    >
      {{ 'name' | translate }}
    </aui-table-header-cell>
    <aui-table-cell
      *auiTableCellDef="let item"
      [ngStyle]="{'line-height':item.displayName?'20px':'25px'}"
    >
      <div class="name-container">
        <div class="icon">
          <aui-icon
            class="icon__secrets cycle-icon"
            icon="basic:secrets_s"
            *ngIf="getSecretIconType(item.type)==='secrets'"
          ></aui-icon>
          <aui-icon
            class="icon__credentials cycle-icon"
            icon="basic:credential_s"
            *ngIf="getSecretIconType(item.type)==='credentials'"
          ></aui-icon>
        </div>
        <div class="secret-name">
          <a [routerLink]="['./detail',item.objectMeta.name]">
            <span>{{ item.objectMeta.name }}</span>
          </a>
          <div
            *ngIf="item.displayName"
            class="display-name"
          >{{ item.displayName }}</div>
        </div>
      </div>
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="type">
    <aui-table-header-cell *auiTableHeaderCellDef>
      {{ 'type' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ getSecretTypeDisplayName(item.type) }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="creationTimestamp">
    <aui-table-header-cell
      *auiTableHeaderCellDef
      aui-sort-header
      start="asc"
    >
      {{ 'create_at' | translate }}
    </aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      {{ item.objectMeta.creationTimestamp | aclRelativeTime }}
    </aui-table-cell>
  </ng-container>
  <ng-container auiTableColumnDef="actions">
    <aui-table-header-cell *auiTableHeaderCellDef></aui-table-header-cell>
    <aui-table-cell *auiTableCellDef="let item">
      <alo-menu-trigger
        [menu]="actionsMenu"
        [context]="{item: item}"
      ></alo-menu-trigger>
    </aui-table-cell>
  </ng-container>
  <aui-table-header-row *auiTableHeaderRowDef="columns"></aui-table-header-row>
  <aui-table-row *auiTableRowDef="let row; columns: columns;"></aui-table-row>
</aui-table>

<aui-menu #actionsMenu>
  <ng-template
    auiMenuContent
    let-item="item"
  >
    <acl-disabled-container [isAllowed]="permissions?.update">
      <aui-menu-item (click)="update(item)">{{ 'update' | translate }}</aui-menu-item>
    </acl-disabled-container>
    <acl-disabled-container [isAllowed]="permissions?.delete">
      <aui-menu-item (click)="delete(item)">{{ 'delete' | translate }}</aui-menu-item>
    </acl-disabled-container>
  </ng-template>
</aui-menu>
